@import "tailwindcss";

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* this is used as a backup */
* {
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,
.outfit {
    font-family: "Outfit";
}

.freckle {
    font-family: "Freckle Face", system-ui;
}